#Dev
# EXPO_PUBLIC_BACKEND_URL=http://<YOUR_LOCAL_IP>:3000

#Prod
EXPO_PUBLIC_BACKEND_URL=https://<YOUR_PRODUCTION_BACKEND_URL>


# Prod Supabase
EXPO_PUBLIC_SUPABASE_URL=https://<YOUR_SUPABASE_PROJECT_ID>.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=<YOUR_SUPABASE_ANON_KEY>

# Local Supabase
# EXPO_PUBLIC_SUPABASE_URL=http://<YOUR_LOCAL_IP>:54321
# EXPO_PUBLIC_SUPABASE_ANON_KEY=<YOUR_LOCAL_SUPABASE_ANON_KEY>
