# The URL of the backend server
EXPO_PUBLIC_BACKEND_URL=http://144.39.223.235:3000

# Optional: Add any other frontend environment variables below
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=